body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
.app {
  background: #27869e;
  padding-top: 5rem;
  width: 55%;
  margin: 0 auto;
}

.bold {
  font-weight: 800;
}

.width {
  width: 55%;
  margin: 0 auto;
  width: fit-content;
}
